<div class="col-xs-10 col-xs-offset-1">
    <ol class="breadcrumb">
        <li><span ng-click="toMainPage()">Home</span></li>
        <li class="active">{{coursename}} 课程签到记录</li>
    </ol>
    <div>
        <p class="message">本课程共 {{signcnt}} 条签到记录，其中迟到 {{latecnt}} 人，根据课程安排，迟到扣 {{lateScore}} 分</p>
        <span class="btn btn-default btn-sm to-main" ng-click="back()">返回</span>
    </div>

        <div class="col-xs-12 table-area">
            <div ng-if="hasList">
                <table class=" table table-striped table-hover table-condensed">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>签到时间</th>
                        <th>签到结果</th>
                    </tr>
                    </thead>
                    <tbody><!-- | filter:{year:qryYear}-->
                    <tr ng-repeat="record in recordList" ng-class="{1:'success',2:'warning','-1':'danger'}[record.status]">
                        <td>{{$index+1}}</td>
                        <td>{{record.stuno}}</td>
                        <td>{{record.stuname}}</td>
                        <td>{{record.signtime}}</td>
                        <td>{{record.status==1?"正常":record.status==2?"迟到":"缺勤"}}</td>
                    </tr>
                    </tbody>
                </table>
                <!--<div class="text-right">-->
                    <!--<span>当前：第 {{pageNo}} 页</span>&nbsp;&nbsp;&nbsp;-->
                    <!--<span>共 {{totalPage}} 页</span>&nbsp;&nbsp;&nbsp;-->
                    <!--<span ng-if="!isFirst">-->
                    <!--<span class="page-br" ng-click="toFirst();">[首页]</span>&nbsp;&nbsp;&nbsp;-->
                    <!--<span class="page-br" ng-click="toLoadPage(pageNo-1);">[上一页]</span>&nbsp;&nbsp;&nbsp;-->
                <!--</span>-->
                    <!--<span ng-if="!isLast">-->
                    <!--<span class="page-br" ng-click="toLoadPage(pageNo+1);">[下一页]</span>&nbsp;&nbsp;&nbsp;-->
                    <!--<span class="page-br" ng-click="toLast();">[末页]</span>&nbsp;&nbsp;&nbsp;-->
                <!--</span>-->
                    <!--<input type="number" ng-model="pageNum" style="width: 50px;">&nbsp;&nbsp;&nbsp;-->
                    <!--<button class="btn btn-default btn-xs" ng-click="jumpPage(pageNum);">跳转</button>-->
                <!--</div>-->
            <!--</div>-->
            <div ng-if="!hasList" class="text-center">
                <span style="color: red;font-size: 15px;">抱歉没有找到您所查询的信息！</span>
            </div>
        </div>
    </div>
</div>